@media screen and (max-width: 1000px) {
    .container{
        max-width: 960px;
    }
    .logo svg{
        width: 98px;
        height: 54px;
    }
    .link a{
        font-size: 15px;
    }
    .main_title{
        font-size: 60px;
    }
    .main_title:after{
        width: 112px;
        height: 10px;
        top: 50px;
    }
    .main_description{
        font-size: 25px;
    }
    .title{
        font-size: 46px;
    }
    .service_item{
        width: 207px;
        height: 209px;
    }

    .service_icon{
        width: 70px;
        height: 70px;
    }
    .service_name{
        font-size: 20px;
    }
    .service_block .btn{
        font-size: 22px;
    }
    .industry_cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .industry_info_title{
        font-size: 36px;
    }
    .industry_info_list li{
        font-size: 20px;
    }
    .stage_btn div{
        font-size: 50px;
    }
    .stage_btn{
        font-size: 40px;
    }
    .building_items{
        flex-wrap: wrap;
        justify-content: start;
    }
    .building_item{
        width: 201px;
        height: 203px;
    }
    .preloader svg{
        width: 300px;
        height: 300px;
    }
    .title_final:before{
        width: 909px;
    }
    .title_final span{
        font-size: 24px;
    }
    .building_items.final form{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .name,.phone{
        grid-area: auto;
    }
    .building_items form button{
        font-size: 19px;
    }

    @keyframes bg1 {
        0%{
            left: 102.2%;
            top: -39.4%;
        }
        5%{
            left: 43.2%;
            top: -39.4%;
        }
        10%{
            left: 33.8%;
            top: -16.2%;
        }
        15%{
            left: 13.2%;
            top: -16.2%;
        }
        20%{
            left: 23.2%;
            top: -39.2%;
        }
        25%{
            left: 13.2%;
            top: -62.2%;
        }
        30%{
            left: -18%;
            top: 7.1%;
        }
        35%{
            left: -7.9%;
            top: 30.3%;
        }
        40%{
            left: -28.6%;
            top: 30.3%;
        }
        45%{
            left: -37.9%;
            top: 7%;
        }
        50%{
            left: -17.9%;
            top: -39%;
        }
        55%{
            left: -28.3%;
            top: -62%;
        }
        60%{
            left: -38.3%;
            top: -39%;
        }
        65%{
            left: -18.3%;
            top: 7%;
        }
        70%{
            left: -103.3%;
            top: 7%;
        }
        99%{
            left: -104.8%;
            top: -191.5%;
        }
        100%{
            left: 102.2%;
            top: -191.5%;
        }
    }

}