@import "./@media-1000.css";
@import "./@media-768.css";
@import "./@media-480.css";
@import "./@media-320.css";
@import "./fonts.css";
@import "./vars.css";
@import "./preloader.css";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
body{
    overflow: hidden;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.background{
    position: absolute;
    z-index: -1;
    left: 0;
    width: 100%;
}
/*Header*/
.container > header{
    margin-top: 20px;
}
nav{
    display: flex;
    width: 100%;
    height: 63px;
    justify-content: space-between;
    align-items: center;
}
.links ul {
    display: flex;
    align-items: center;
    gap: 31px;
}
.link a{
    font-family: 'Circe', sans-serif;
    color: var(--text-color);
    font-size: 20px;
    text-transform: uppercase;
}
.btn a{
    font-family: "Stem", sans-serif;
    font-size: 18px;
    padding: 8px 12px;
    background: var(--accent-color);
    color: #fff;
}
/*First Block*/
.first_block{
    width: 100%;
    height: calc(100dvh - 63px - 21px);
    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction: column;
}
.main_title{
    font-family: Stem, sans-serif;
    font-size: 75px;
    text-transform: uppercase;
    color: var(--accent-color);
    position: relative;
}
.main_title:after{
    content: "";
    position: absolute;
    right: 0;
    top: 60px;
    z-index: 1;
    width: 143px;
    height: 16px;
    background: var(--accent-color);
}
.main_description{
    font-family: Circe, sans-serif;
    font-size: 30px;
    color: var(--complementary-color);
    line-height: 41px;
    text-transform: uppercase;
    text-wrap: balance;
}
/*Service Block*/
.service_block{
    width: 100%;
    height: calc(100dvh - 63px);
    display: block;
}
.title{
    font-family: Stem, sans-serif;
    font-size: 60px;
    color: var(--accent-color);
    text-transform: uppercase;
    padding-top: 90px;
}
.services_items{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 116px auto 0;
}
.service_item{
    width: 252px;
    height: 252px;
    background: var(--item-background);
    padding: 17px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    gap: 10px;
}
.service_name{
    font-family: Circe, sans-serif;
    font-size: 25px;
    text-transform: uppercase;
}

.service_item:hover{
    box-shadow: -6px 6px 5.5px rgba(171, 171, 175, 0.82);
}
.service_item:hover .service_icon,
.service_item:hover .service_name{
    color: var(--accent-color);
    fill: var(--accent-color);
}
.service_block .btn{
    font-family: Stem, sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    color: #fff;
    padding: 19px 24px;
    background: var(--accent-color);
    display: block;
    width: max-content;
    margin: 124px auto 0;
}
/*Industry Block*/
.industry_block{
    width: 100%;
    margin-top: 90px;
}
.industry_items{
    margin-top: 52px;
    display: flex;
    justify-content: center;
    gap: 70px;
}
.industry_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 36.4px;
    grid-row-gap: 32.15px;
    height: max-content;
}
.industry_card{
    width: 170px;
    height: 148px;
    display: flex;
    justify-content: center;
    align-items: start;
    background: var(--item-background);
    padding: 9px;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}
.industry_card.active{
    box-shadow: -6px 6px 5.5px rgba(171, 171, 175, 0.82);
}
.industry_card.active,
.industry_card.active .industry_card_icon{
    color: var(--accent-color);
    fill: var(--accent-color);
    stroke: var(--accent-color);
    /*fill: none;*/
}
.industry_card.active:nth-child(1),
.industry_card.active:nth-child(1) .industry_card_icon,
.industry_card.active:nth-child(3),
.industry_card.active:nth-child(3) .industry_card_icon{
    color: var(--accent-color);
    /*fill: var(--accent-color);*/
    stroke: var(--accent-color);
    fill: none;
}
.industry_card_name{
    font-family: Circe, sans-serif;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
}
.industry_info_title{
    font-family: Stem, sans-serif;
    font-size: 50px;
    color: var(--accent-color);
    text-transform: uppercase;
    margin-bottom: 21px;
}
.industry_info_list li{
    font-family: Circe, sans-serif;
    font-size: 25px;
    line-height: 40px;
    text-transform: uppercase;
    max-width: 434px;
    margin-left: 30px;
    position: relative;
}
.industry_info_list li:not(:last-child){
    margin-bottom: 9px;
}
.industry_info_list li:after{
    content: "";
    z-index: 1;
    position: absolute;
    top: 50%;
    left: -30px;
    width: 10px;
    height: 10px;
    background: var(--accent-color);
    transform: translateY(-50%);
}
/*Stage Block*/
.stage_block{
    width: 100%;
}
.stage_btn{
    display: flex;
    gap: 25px;
    border: none;
    background: none;
    width: max-content;
    margin: 30px 39px 0;
    align-items: center;
    font-family: Circe, sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    cursor: pointer;
}
.stage_btn div{
    width: 66px;
    height: 66px;
    background: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EDEDF0;
    font-family: Circe, sans-serif;
    font-size: 50px;
    text-transform: uppercase;
}
.stage_info{
    font-family: Circe, sans-serif;
    font-size: 25px;
    line-height: 41px;
    text-transform: uppercase;
    width: 780px;
    background: var(--item-background);
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-out;
    margin-left: 109px;
    padding-left: 10px;
}
.stage_info.visible{
    padding: 21px 15px 10px;
    margin: 53px 0 60px 100px;
    max-height: max-content;
    overflow: visible;
}
/*Technology Block*/
.technology_items{
    display: flex;
    margin: 109px 45px 0;
    gap: 25px;
    flex-wrap: wrap;
}
.technology_text{
    padding: 12px 26px;
    font-family: Circe, sans-serif;
    font-size: 21px;
    text-transform: uppercase;
    background: var(--item-background);
    border: 3px solid var(--item-background);
    transition: border .1s linear;
    cursor: pointer;
}
.technology_text:hover{
    border: 3px solid var(--accent-color);
}
/*Building Block*/
.progress_bar{
    margin-top: 21px;
    display: flex;
    gap: 15px;
    align-items: center;
}
.hint{
    color: var(--accent-color);
    font-family: Stem, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}
.progress{
    width: 150px;
    height: 15px;
    background: var(--item-background);
}
.progress > span {
    display: block;
    height: inherit;
    background: var(--accent-color);
    transition: width .3s linear;
}
.building_items{
    display: flex;
    justify-content: center;
    gap: 31px;
    margin-top: 133px;
}
.building_item{
    width: 206px;
    height: 208px;
    background: var(--item-background);
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 14px;
    gap: 8px;
    cursor: pointer;
}
.building_item:hover{
    box-shadow: -6px 6px 5.5px rgba(171, 171, 175, 0.82);
    color: var(--accent-color);
}
.building_item:hover > svg{
    fill: var(--accent-color);
}
.building_item:hover > .important{
    fill: none;
    stroke: var(--accent-color);
}
.building_name{
    font-family: Circe, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}
.building_block .title,
.building_block .building_items{
    display: none;
}
.title.build_active_title,
.building_items.build_active_item{
    display: flex;
}
.building_items.final form{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 27px;
    grid-gap: 17px;
    font-family: Circe, sans-serif;
    font-size: 25px;
    text-transform: uppercase;
}
.input{
    border: none;
    font-family: Circe, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #D7D8FF;
    transition: border-bottom .3s linear;
}
.input:hover,
.input:focus{
    border-bottom: 1px solid black;
}
.input::placeholder{
    color: #D7D8FF;
}
.name {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.phone {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 13px;
    position: relative;
}
.phone input{
    padding-left: 24px;
}
.phone:before{
    content: "+7";
    width: max-content;
    height: max-content;
    position: absolute;
    color: black;
    z-index: 1;
    left: 0;
    bottom: 19px;
    font-size: 21px;
}
.email {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.text {
    grid-area: 2 / 1 / 3 / 4;
    display: flex;
    flex-direction: column;
    gap: 13px;
    height: max-content;
}
.file {
    grid-area: 3 / 1 / 4 / 4;
    display: grid;
    grid-template-areas: "icon title" "icon desc";
    width: max-content;
    cursor: pointer;
    height: max-content;
    margin-top: 30px;
}
.file img {
    grid-area: icon;
}
.file_title {
    color: var(--accent-color);
    grid-area: title;
    height: max-content;
}
.file_desc{
    font-size: 20px;
    color: #D7D8FF;
    height: max-content;
}
.building_items form button{
    background: var(--accent-color);
    padding: 19px 52px;
    color: #fff;
    font-family: Stem, sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    cursor: pointer;
}
.title_final{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.title_final:before{
    content: "";
    position: absolute;
    z-index: -1;
    width: 1200px;
    height: 15px;
    background: var(--accent-color);
}
.title_final span{
    color: var(--accent-color);
    font-family: Stem, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    width: min-content;
    background: #fff;
    padding: 0 25px;
}
.title_final span:first-child{
    padding-left: 0;
}
.title_final span:last-child{
    padding-right: 0;
}