@import "./fonts.css";
@import "./vars.css";
@import "./preloader.css";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

#particles-js{
    margin-top: -20px;
    position: absolute;
    width: 100%;
    height: max-content;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    z-index: -1;
    left: 0;
}

body{
    overflow: hidden;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.background{
    position: absolute;
    z-index: -1;
    left: 0;
    width: 100%;
}
.bg_anim{
    left: 102.2%;
    top: -62.4%;
    transform: scale(3.3);
    overflow: hidden;
    animation-delay: 1s;
    animation:bg1 25s ease infinite forwards;
}
@keyframes bg1 {
    0%{
        left: 102.2%;
        top: -62.4%;
    }
    5%{
        left: 43.2%;
        top: -62.4%;
    }
    10%{
        left: 33.7%;
        top: -27.4%;
    }
    15%{
        left: 13.2%;
        top: -27.4%;
    }
    20%{
        left: 23.2%;
        top: -61.4%;
    }
    25%{
        left: 13.1%;
        top: -96.4%;
    }
    30%{
        left: -17.9%;
        top: 8.6%;
    }
    35%{
        left: -8.1%;
        top: 42.9%;
    }
    40%{
        left: -28.5%;
        top: 42.9%;
    }
    45%{
        left: -37.9%;
        top: 7.9%;
    }
    50%{
        left: -17.9%;
        top: -62.5%;
    }
    55%{
        left: -28.4%;
        top: -97.5%;
    }
    60%{
        left: -38.3%;
        top: -61.5%;
    }
    65%{
        left: -18.3%;
        top: 8.5%;
    }
    70%{
        left: -100.3%;
        top: 8.5%;
    }
    99%{
        left: -104.8%;
        top: -71.5%;
    }
    100%{
        left: 102.2%;
        top: -71.5%;
    }
}
/*Header*/
header{
    margin-top: 20px;
}
nav{
    display: flex;
    width: 100%;
    height: 63px;
    justify-content: space-between;
    align-items: center;
}
.links ul {
    display: flex;
    align-items: center;
    gap: 31px;
}
.link a{
    font-family: 'Circe', sans-serif;
    color: var(--text-color);
    font-size: 20px;
    text-transform: uppercase;
}
.btn a{
    font-family: "Stem", sans-serif;
    font-size: 18px;
    padding: 8px 12px;
    background: var(--accent-color);
    color: #fff;
}
/*First Block*/
.first_block{
    width: 100%;
    height: calc(100dvh - 63px - 21px);
    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction: column;
}
.main_title{
    font-family: Stem, sans-serif;
    font-size: 75px;
    text-transform: uppercase;
    color: var(--accent-color);
    position: relative;
}
.main_title:after{
    content: "";
    position: absolute;
    right: 0;
    top: 44px;
    z-index: 1;
    width: 143px;
    height: 16px;
    background: var(--accent-color);
}
.main_description{
    font-family: Circe, sans-serif;
    font-size: 30px;
    color: var(--complementary-color);
    line-height: 41px;
    text-transform: uppercase;
    text-wrap: balance;
}
/*Service Block*/
.service_block{
    width: 100%;
    height: max(calc(100dvh - 63px), max-content);
    display: block;
}
.title{
    font-family: Stem, sans-serif;
    font-size: 60px;
    color: var(--accent-color);
    text-transform: uppercase;
    padding-top: 90px;
}
.services_items{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 116px auto 0;
}
.service_item{
    width: 252px;
    height: 252px;
    background: var(--item-background);
    padding: 17px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    gap: 10px;
}
.service_name{
    font-family: Circe, sans-serif;
    font-size: 25px;
    text-transform: uppercase;
}

.service_item:hover{
    box-shadow: -6px 6px 5.5px rgba(171, 171, 175, 0.82);
}
.service_item:hover .service_icon,
.service_item:hover .service_name{
    color: var(--accent-color);
    fill: var(--accent-color);
}
.service_block .btn{
    font-family: Stem, sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    color: #fff;
    padding: 19px 24px;
    background: var(--accent-color);
    display: block;
    width: max-content;
    margin: 124px auto 0;
}
/*Industry Block*/
.industry_block{
    width: 100%;
    height: max(100dvh, max-content);
    margin-top: 90px;
    display: block;
}
.industry_items{
    margin-top: 52px;
    display: flex;
    justify-content: center;
    gap: 55px;
}
.industry_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 36.4px;
    grid-row-gap: 32.15px;
    height: max-content;
}
.industry_card{
    width: 170px;
    height: 148px;
    display: flex;
    justify-content: center;
    align-items: start;
    background: var(--item-background);
    padding: 9px;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}
.industry_card.active{
    box-shadow: -6px 6px 5.5px rgba(171, 171, 175, 0.82);
}
.industry_card.active,
.industry_card.active .industry_card_icon{
    color: var(--accent-color);
    fill: var(--accent-color);
    stroke: var(--accent-color);
    /*fill: none;*/
}
.industry_card.active:nth-child(1),
.industry_card.active:nth-child(1) .industry_card_icon,
.industry_card.active:nth-child(3),
.industry_card.active:nth-child(3) .industry_card_icon{
    color: var(--accent-color);
    /*fill: var(--accent-color);*/
    stroke: var(--accent-color);
    fill: none;
}
.industry_card_name{
    font-family: Circe, sans-serif;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
}
.industry_info_title{
    font-family: Stem, sans-serif;
    font-size: 3.13rem;
    color: var(--accent-color);
    text-transform: uppercase;
    margin-bottom: 18px;
    width: min-content;
}
.industry_card_info_block{
    display: none;
}
.industry_card_info_block.active{
    display: block;
}
.industry_info_list{
    width: 500px;
}
.industry_info_list li{
    font-family: Circe, sans-serif;
    font-size: 1.25rem;
    line-height: 1.56rem;
    text-transform: uppercase;
    max-width: inherit;
    margin-left: 30px;
    position: relative;
}
.industry_info_list li:not(:last-child){
    margin-bottom: 9px;
}
.industry_info_list li:after{
    content: "";
    z-index: 1;
    position: absolute;
    top: 50%;
    left: -27px;
    width: 10px;
    height: 10px;
    background: var(--accent-color);
    transform: translateY(-50%);
}
.industry_items_mobile{
    display: none;
}
/*Stage Block*/
.stage_block{
    width: 100%;
    height: max(100vh, max-content);
}
.stage_btn{
    display: flex;
    gap: 25px;
    border: none;
    background: none;
    width: max-content;
    margin: 30px 39px 0;
    align-items: center;
    font-family: Circe, sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    cursor: pointer;
}
.stage_btn div{
    width: 66px;
    height: 66px;
    background: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EDEDF0;
    font-family: Circe, sans-serif;
    font-size: 50px;
    text-transform: uppercase;
}
.stage_info{
    font-family: Circe, sans-serif;
    font-size: 25px;
    line-height: 2.56rem;
    text-transform: uppercase;
    width: 780px;
    background: var(--item-background);
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-out;
    margin-left: 109px;
    padding-left: 10px;
}
.stage_info.visible{
    padding: 21px 15px 10px;
    margin: 53px 0 60px 109px;
    max-height: max-content;
    overflow: visible;
}
/*Technology Block*/
.technology_items{
    display: flex;
    margin: 109px 45px 0;
    gap: 25px;
    flex-wrap: wrap;
}
.technology_text{
    padding: 12px 26px;
    font-family: Circe, sans-serif;
    font-size: 21px;
    text-transform: uppercase;
    background: var(--item-background);
    border: 3px solid var(--item-background);
    transition: border .1s linear;
    cursor: pointer;
}
#technology_1:checked ~ p.t_1{
    display: block;
}
#technology_1:checked ~ .technology_1{
    display: none;
}

#technology_2:checked ~ p.t_2{
    display: block;
}
#technology_2:checked ~ .technology_2{
    display: none;
}

#technology_3:checked ~ p.t_3{
    display: block;
}
#technology_3:checked ~ .technology_3{
    display: none;
}
p.technology_text{
    display: none;
}
.technology_text:hover{
    border: 3px solid var(--accent-color);
}
/*Building Block*/
.building_block{
    width: 100%;
}
.progress_bar{
    margin-top: 21px;
    display: flex;
    gap: 15px;
    align-items: center;
}
.hint{
    color: var(--accent-color);
    font-family: Stem, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}
.progress{
    width: 150px;
    height: 15px;
    background: var(--item-background);
}
.progress > span {
    display: block;
    height: inherit;
    background: var(--accent-color);
    transition: width .3s linear;
}
.building_items{
    display: flex;
    justify-content: start;
    gap: 31px;
    margin: 133px auto 0;
    width: max-content;
}
.building_item{
    width: 206px;
    height: 208px;
    background: var(--item-background);
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 14px;
    gap: 8px;
    cursor: pointer;
}
.building_item:hover{
    box-shadow: -6px 6px 5.5px rgba(171, 171, 175, 0.82);
    color: var(--accent-color);
}
.building_item:hover > svg{
    fill: var(--accent-color);
}
.building_item:hover > .important{
    fill: none;
    stroke: var(--accent-color);
}
.building_name{
    font-family: Circe, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}
.building_block .title,
.building_block .building_items{
    display: none;
}
.title.build_active_title,
.building_items.build_active_item{
    display: flex;
}
.building_items.final form{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 27px;
    grid-gap: 17px;
    font-family: Circe, sans-serif;
    font-size: 25px;
    text-transform: uppercase;
}
.input{
    border: none;
    font-family: Circe, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #D7D8FF;
    transition: border-bottom .3s linear;
    background: none;
}
.input:hover,
.input:focus{
    border-bottom: 1px solid black;
}
.input::placeholder{
    color: #D7D8FF;
}
.name {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.phone {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 13px;
    position: relative;
}
.phone input{
    padding-left: 24px;
    position: relative;
}
.phone:before{
    content: "+7";
    width: max-content;
    height: max-content;
    position: absolute;
    color: black;
    z-index: 1;
    left: 0;
    top: 49px;
    font-size: 21px;
}
.email {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.text {
    grid-area: 2 / 1 / 3 / 4;
    display: flex;
    flex-direction: column;
    gap: 13px;
    height: max-content;
}
.file {
    grid-area: 3 / 1 / 4 / 4;
    display: grid;
    grid-template-areas: "icon title" "icon desc";
    width: max-content;
    cursor: pointer;
    height: max-content;
    margin-top: 30px;
}
.file img {
    grid-area: icon;
}
.file_title {
    color: var(--accent-color);
    grid-area: title;
    height: max-content;
}
.file_desc{
    font-size: 20px;
    color: #D7D8FF;
    height: max-content;
}
.building_items form button{
    background: var(--accent-color);
    padding: 19px 52px;
    color: #fff;
    font-family: Stem, sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    cursor: pointer;
}
.building_items.final{
    margin-top: 66px;
}
.title_final{
    display: none;
}
.title_final.active{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.title_final.active:before{
    content: "";
    position: absolute;
    z-index: -1;
    width: 1200px;
    height: 15px;
    background: #21248A80;
}
.title_final.active span{
    color: #21248A80;
    font-family: Stem, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    width: min-content;
    background: #fff;
    padding: 0 25px;
}
.title_final.active span:first-child{
    padding-left: 0;
}
.title_final.active span:last-child{
    padding-right: 0;
}

@media screen and (max-width: 1000px) {
    .container{
        max-width: 960px;
    }
    .logo svg{
        width: 98px;
        height: 54px;
    }
    .link a{
        font-size: 15px;
    }
    .main_title{
        font-size: 60px;
    }
    .main_title:after{
        width: 112px;
        height: 10px;
        top: 37px;
    }
    .main_description{
        font-size: 25px;
    }
    .title{
        font-size: 46px;
    }
    .service_item{
        width: 207px;
        height: 209px;
    }

    .service_icon{
        width: 70px;
        height: 70px;
    }
    .service_name{
        font-size: 20px;
    }
    .service_block .btn{
        font-size: 22px;
    }
    .industry_cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .industry_info_title{
        font-size: 36px;
    }
    .industry_info_list li{
        font-size: 20px;
    }
    .stage_btn div{
        font-size: 50px;
    }
    .stage_btn{
        font-size: 40px;
    }
    .building_items{
        flex-wrap: wrap;
        justify-content: start;
        margin: 0 auto;
    }
    .building_items.build_active_item{
        width: calc(12.58rem * 3 + 32px * 2);
        margin: 0 auto;
    }
    .building_item{
        width: 12.58rem;
        height: 12.71rem;
    }
    .preloader svg{
        width: 300px;
        height: 300px;
    }
    .title_final.active:before{
        width: 909px;
    }
    .title_final.active span{
        font-size: 24px;
    }
    .name,.phone{
        grid-area: auto;
    }
    .name{
        grid-area: 1 / 1 / 2 / 2;
    }
    .email{
        grid-area: 2 / 1 / 3 / 2;
    }
    .phone{
        grid-area: 2 / 2 / 3 / 3;
    }
    .text{
        grid-area: 3 / 1 / 4 / 3;
    }
    .file{
        grid-area: 4 / 1 / 5 / 2;
    }
    .final form button{
         grid-area: 5 / 1 / 6 / 2;
     }
    .building_items form button{
        font-size: 19px;
    }
    .building_items.final.build_active_item{
        width: 100%;
    }
    .building_items.final form{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(5, 1fr);
        width: 100%;
    }

}

@media screen and (max-width: 768px) {
    .container {
        max-width: 640px;
    }
    .logo svg{
        width: 64px;
        height: 35px;
    }
    .link a{
        font-size: 10px;
    }
    .main_title{
        font-size: 40px;
    }
    .main_title:after{
        width: 76px;
        height: 7px;
        top: 24px;
    }
    .main_description{
        font-size: 15px;
        line-height: 21px;
    }
    .title{
        font-size: 32px;
    }
    .services_items{
        flex-wrap: wrap;
    }
    .service_item{
        width: 207px;
        height: 209px;
    }

    .service_icon{
        width: 70px;
        height: 70px;
    }
    .service_name{
        font-size: 20px;
    }
    .service_block .btn{
        font-size: 22px;
    }

    .industry_items{
        display: none;
    }
    .industry_items_mobile{
        display: block;
        margin: 42px auto 0;
        width: max-content;
    }
    .industry_cards_mobile{
        display: flex;
        width: calc(10.62rem * 3 + 50px);
        flex-wrap: wrap;
        gap: 20px 25px;
        align-items: end;
    }
    .industry_card_mobile{
        width: 10.62rem;
        height: 9.22rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 8px;
        align-content: center;
        padding: 15px;
        background: var(--item-background);
        cursor: pointer;
    }
    .industry_card_name_mobile{
        font-family: 'Circe', sans-serif;
        text-transform: uppercase;
        font-size: clamp(1rem, 18px,1.25rem);
        line-height: 1.44rem;
        display: flex;
        align-items: center;
    }
    .industry_info_list_mobile{
        display: none;
    }
    .industry_card_mobile.active{
        grid-template-areas: "icon title" "list list";
        grid-template-columns: min-content auto;
        align-content: start;
        width: 22.78rem;
        height: max-content;
        box-shadow: -6px 6px 5.5px rgba(171, 171, 175, 0.82);;
    }
    .industry_card_mobile.active > .industry_info_list_mobile{
        grid-area: list;
        font-family: Circe, sans-serif;
        font-size: 0.75rem;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-left: 21px;
    }
    .industry_info_list_mobile li{
        position: relative;
    }
    .industry_info_list_mobile li:after{
        content: "";
        width: 0.35rem;
        height: 0.31rem;
        background: var(--accent-color);
        position: absolute;
        left: -18px;
        top: 50%;
        transform: translateY(-50%);
    }
    .industry_card_mobile.active > .industry_card_icon_mobile{
        fill: var(--accent-color);
        height: 3.13rem;
    }
    .industry_card_mobile.active > .icon_s{
        fill: none;
        stroke: var(--accent-color);
        height: 3.13rem;
    }
    .industry_card_mobile.active > .industry_card_name_mobile{
        color: var(--accent-color);
        font-size: 1.56rem;
        line-height: 2rem;
    }

    .stage_btn div{
        font-size: 32px;
        width: 45px;
        height: 45px;
    }
    .stage_info{
        font-size: 15px;
        width: 492px;
        line-height: 22px;
        margin-left: 85px;
        padding-left: 10px;
    }
    .stage_info.visible{
        padding: 8px 15px 8px;
        margin: 28px 0 20px 85px;
        max-height: max-content;
        overflow: visible;
    }
    .stage_btn{
        font-size: 22px;
    }
    .building_items{
        flex-wrap: wrap;
        justify-content: start;
    }
    .building_item{
        width: 201px;
        height: 203px;
    }
    .technology_items{
        gap: 15px;
    }
    .technology_text{
        font-size: 13px;
        padding: 7px 15px;
    }
    .hint{
        font-size: 15px;
    }
    .progress{
        width: 120px;
        height: 10px;
    }
    .building_item svg{
        width: 62px;
        height: 62px;
    }
    .building_item span{
        font-size: 20px;
    }

    .preloader svg{
        width: 300px;
        height: 300px;
    }
    .title_final:before{
        width: 100%;
    }
    .title_final span{
        font-size: 24px;
    }
    .building_items.final form{
        width: 100%;
        font-size: 18px;
    }
    .title_final span{
        padding: 0;
        font-size: 20px;
    }
    .title_final{
        gap: 10px;
    }
    .name,.phone{
        grid-area: auto;
    }
    .building_items form button{
        font-size: 14px;
    }
    .input{
        font-size: 16px;
    }
    .title_final.active span{
        font-size: 1.13rem;
        padding: 0 10px;
    }
    .title_final.active::before{
        width: 640px;
    }
    .phone::before{
        font-size: 17px;
        top: 39px;
    }
    .final form button{
        grid-area: 5 / 1 / 6 / 3;
        padding: 19px 52px;
        width: max-content;
        height: min-content;
        margin:  0 auto;
    }
    .building_items.build_active_item {
        width: calc(12.58rem * 2 + 32px * 2);
        margin: 0 auto;
    }
}

@media screen and (max-width: 480px) {
    .container{
        max-width: 98%;
    }
    .link.deactivate{
        display: none;
    }
    .btn a{
        font-size: 10px;
        padding: 1px 10px;
    }
    .logo svg{
        width: 58px;
        height: 30px;
    }
    .main_title{
        font-size: 40px;
    }
    .main_title:after{
        display: none;
    }
    .main_description{
        font-size: 12px;
    }
    .title{
        font-size: 32px;
        padding-top: 0;
    }
    .service_block{
        height: max-content;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .services_items{
        margin: 0;
        justify-content: center;
    }
    .service_block .btn{
        margin: 0 auto;
    }

    .industry_cards_mobile{
        display: flex;
        width: calc(9.53rem * 2 + 50px);
    }
    .industry_card_mobile{
        width: 9.53rem;
        height: 8.28rem;
    }
    .industry_card_mobile.active{
        width: 20.63rem;
    }
    .industry_card_name_mobile{
        font-size: 0.94rem;
    }
    .industry_card_name_mobile.active{
        font-size: 1.56rem;
    }

    .stage_btn{
        gap: 10px;
        margin: 30px 0 0;
    }
    .stage_btn div{
        font-size: 25px;
        width: 32px;
        height: 32px;
    }
    .stage_btn span{
        font-size: 20px;
        width: 100%;
    }
    .stage_info{
        margin: 0;
        font-size: 15px;
        line-height: 15px;
    }
    .stage_info.visible{
        margin: 20px 0;
        padding: 15px 13px;
        width: 100%;
    }
    .building_items{
        justify-content: center;
    }
    .title_final.active:before {
        content: "";
        width: 450px;
        height: 3px;
    }
    .title_final.active span{
        font-size: 0.7rem;
    }
    .phone:before{
        bottom: 1px;
        font-size: 16px;
    }
    .building_items.final.build_active_item{
        display: block;
    }
    .building_items.final.build_active_item form{
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(5, 1fr);
        width: 100%;
        padding: 0;
        grid-gap: 0;
    }
    .file_title{
        font-size: 0.75rem;
    }
    .file_desc{
        font-size: 0.75rem;
    }
    .file img{
        width: 2.68rem;
    }
}

@media screen and (max-width: 320px) {
    .container{
        max-width: 300px;
    }
    .preloader svg{
        width: 150px;
        height: 150px;
    }
    .service_item,
    .industry_card,
    .building_item{
        width: 122px;
        height: 123px;
    }
    .service_icon,
    .industry_card_icon,
    .building_item svg{
        width: 40px;
        height: 40px;
    }
    .service_name,
    .industry_card_name,
    .building_item > .building_name{
        font-size: 12px;
        line-height: 18px;
    }
    .service_block .btn{
        font-size: 15px;
        margin: 60px auto 0;
    }

    .industry_cards_mobile{
        display: flex;
        width: calc(9.53rem * 2 + 50px);
    }
    .industry_card_mobile{
        width: 8.53rem;
        height: 8.28rem;
    }
    .industry_card_mobile.active{
        width: 300px;
    }
    .industry_card_name_mobile{
        font-size: 0.94rem;
    }
    .industry_card_name_mobile.active{
        font-size: 1.56rem;
    }

    .stage_btn{
        gap: 5px;
    }
    .stage_btn:not(:last-child){
        margin: 0 0 3px;
    }
    .stage_btn div {
        font-size: 20px;
        width: 25px;
        height: 25px;
    }
    .stage_btn span{
        font-size: 15px;
    }
    .stage_info{
        margin: 0;
        font-size: 10px;
        line-height: 15px;
    }
    .stage_info.visible{
        margin: 20px 0;
        padding: 15px 13px;
        width: 100%;
    }
    .technology_items{
        justify-content: start;
        margin: 70px 0;
    }
    .phone,.name,.file,.email,.text{
        font-size: 0.75rem;
    }
    .title_final.active span {
        font-size: 0.6rem;
        padding: 0;
    }
    .title_final.active:before {
        content: "";
        width: 300px;
        height: 3px;
    }
    .phone:before {
        top: 30px;
    }
    .building_items.build_active_item {
        width: calc(7.78rem * 2 + 19px);
        margin: 0 auto;
        justify-content: start;
        gap: 19px 23px;
    }{

}
}